@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

@theme {
  --color-primary: #8B5CF6;
  --color-secondary: #06B6D4;
  --color-accent: #FACC15;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}